[submodule "autodiag"]
	path = app/autodiag
	url = https://github.com/autodiag2/autodiag
[submodule "Godot-Advanced-Vehicle"]
	path = app/src/main/assets
	url = https://github.com/autodiag2/Godot-Advanced-Vehicle
